**/node_modules*

**/dist
**/coverage
**/.DS_Store
.npmrc

.nx/
.ai-workspaces/
.ai-workspaces/*
!.ai-workspaces/*/
!.ai-workspaces/*/.gitignore
ai/.workspaces/*
!ai/.workspaces/*/
!ai/.workspaces/*/.gitignore

**/*.log

/packages/**/docs/
